@charset "utf-8";
body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; /* 흰색 텍스트 색상으로 대비 향상 */
    margin: 0; /* 기본 마진 제거하여 전체 폭 표시 보장 */
    font-family: "Nunito", sans-serif; /* 가독성 향상을 위한 폰트 패밀리 추가 */
    line-height: 1.6; /* 가독성 향상을 위한 행 높이 조절 */
    cursor: default;
  }

.title {
    font-family: 'Noto Serif KR', serif;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}


/*------------------------------------------------------ main -----------*/

.main {
    width: 100%;
    height: 700px;
    margin-top: 100px;
    overflow: hidden;
    display: block;
    position: relative;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 4);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.itembox {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s  opacity 0.75s;
    
    &:nth-child(1),
    &:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
    }

    &:nth-child(3) {
        left: 55%;
    }

    &:nth-child(4) {
        left: calc(55% + 220px);
    }

    &:nth-child(5) {
        left: calc(55% + 440px);
    }

    &:nth-child(6) {
        left: calc(5% + 660px);
        opacity: 0;
    }
}

.maincontent {
    width: min(30vw, 400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica, sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;

    & .maintitle {
        font-family: 'arial-black';
        text-transform: uppercase;
    }

    & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 0.8rem;
    }

    & button {
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
    }
}

.itembox:nth-of-type(2) .maincontent {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.mainnav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;

    & .btn {
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.7);
        border: 2px solid rgba(0, 0, 0, 0.6);
        margin: 0 0.25rem;
        padding: 0.75rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

@media (width > 650px) and (width < 900px) {
    .maincontent {
        & .maintitle {
            font-size: 1rem;
        }

        & .description {
            font-size: 0.7rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .itembox {
        width: 160px;
        height: 270px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 170px);
        }

        &:nth-child(5) {
            left: calc(50% + 340px);
        }

        &:nth-child(6) {
            left: calc(50% + 510px);
            opacity: 0;
        }
    }
}

@media (width < 650px) {
    .maincontent {
        & .maintitle {
            font-size: 0.9rem;
        }

        & .description {
            font-size: 0.65rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .itembox {
        width: 130px;
        height: 220px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 140px);
        }

        &:nth-child(5) {
            left: calc(50% + 280px);
        }

        &:nth-child(6) {
            left: calc(50% + 420px);
            opacity: 0;
        }
    }
}
 
/* ----------section -------- */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Young+Serif&display=swap");

  
  #intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 40px;
    min-height: 100vh;
    overflow: hidden;
  }
  
 
  
  /* 초콜릿 테마 배경 */
  body::before {
      content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 25% 60%, #4e342e 0px, transparent 50%),
      radial-gradient(circle at 92.3% 7.6%, #4e342e 0px, transparent 50%);
    background-repeat: no-repeat;
    z-index: -1;
  }


/* INTRO STYLES */
#intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 40px;
  min-height: 100vh;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 50px;
}

.info h1 {
  font-family: "Young Serif", serif;
  text-align: center;
  font-size: 3rem;
}

.info p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.split-beer {
  display: flex;
  flex-direction: row;
}

.beer {
  max-width: 100%;
  width: 250px;
  border-radius: 20px;
  margin-left: 15px;
  border: 2px solid orange;
}

.beer:nth-child(2) {
  transform: translateY(-1.5rem);
}

.button {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8);
}

.button:hover::after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}

.button::before,
.button::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  transition: all 0.5s;
}

/* MEDIA QUERIES */
@media (max-width: 1100px) {
  .beer {
    width: 200px;
  }

  #content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  #intro {
    padding: 30px;
  }

  .beer {
    width: 150px;
  }

  .info {
    gap: 20px;
    padding: 30px 30px;
  }

  .info h1 {
    font-size: 2.5rem;
  }

  .info p {
    font-size: 1rem;
  }

  #content {
    gap: 30px;
    padding: 60px 20px;
  }

  .card {
    width: 250px;
  }

  .modal-content {
    width: 80%;
  }
}

@media (max-width: 550px) {
  #intro {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "split-beer" "info";
  }

  .info {
    grid-area: info;
  }

  .split-beer {
    grid-area: split-beer;
    margin: 20px auto;
  }

  .beer {
    width: 100px;
  }

  #content {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 40px;
  }
}




/*------------------------------------------------------ .signature -----------*/

.signature {
    margin-top: 100px;
}



.signature .signature-intro .intro-right {
    right: 24px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}


.intro-right h3 {
    font-size: 32px;
    font-weight: 400;
}

.intro-right h3 span {
    display: block;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}



/*------------------------------------------------------ .about -----------*/

.about {
    margin-top: 160px;
    width: 100%;
    background: url(https://i.postimg.cc/NMgbTsV9/dark-Choco2.jpg);
    background-attachment: fixed;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    /*크로스브라우저*/
    background-image: url(https://i.postimg.cc/NMgbTsV9/dark-Choco2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about .tit-box {
    line-height: 1.2;
}

.about .tit-box .title {
    font-size: 40px;
    font-weight: 500;
    
}

.about .tit-box .title span {
    display: block;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #eee;
}

.about .tit-box .mean {
    font-weight: 100;
    font-size: 24px;
    width: 800px;
    margin: 20px auto 0;

    position: relative;
}

.about .tit-box .mean:before {
    content: "";
    display: block;
    width: 30%;
    height: 1px;
    background-color: #fff;

    position: absolute;
    top: 50%;
    left: 0;

    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -moz-transition: all 0.6s;
}

.about .des-box {
    margin-top: 40px;
}

.about .des-box .des-txt {
    margin-top: 20px;
    line-height: 1.6;
  
    color: #fff;
}



/*------------------------------------------------------ .franchise -----------*/

.franchise {
    margin: 0;
    width: 100%;
    background: url(https://th.bing.com/th/id/OIG.jOWhHVYJ3uSUESWfu2Ah?pid=ImgGn) no-repeat center/cover;
    padding: 122px 0;
    box-sizing: border-box;
    text-align: center;
    
    /* 크로스 브라우저 */
    background-image: url(https://th.bing.com/th/id/OIG.jOWhHVYJ3uSUESWfu2Ah?pid=ImgGn);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.franchise .fran-tit {
    width: 100%;
    color: #fff;
}

.franchise .fran-tit h2 {
    font-weight: 400;
    font-size: 32px;
    font-family: 'Noto Serif KR', serif;
}

.franchise .fran-tit p {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 100;
}

.franchise ul {
    display: inline-block;
    margin: 160px auto 0;

}

.franchise ul li {
    text-align: left;
}

.franchise ul li ~ li {
    margin-left: 40px;
}

.franchise ul li a {
    color: #fff;
    position: relative;

    z-index: 1;
}

/*---------------------------------------- a:hover ------*/

.franchise ul li a:before,
.franchise ul li a:after {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    position: absolute;
    left: -3.5%;
    top: -10%;
    transition: all 0.5s;
}

.franchise ul li a:before {
   
    box-sizing: border-box;
}

.franchise ul li a:hover:before {
    transform: scale(1.2);
    opacity: 0;
}

.franchise ul li a:after {
    background-color: #f8afad;

    z-index: -1;
    transform: scale(0.4);
    opacity: 0;
}

.franchise ul li a:hover:after {
    transform: scale(1);
    opacity: 1;
}

/*---------------------------------------- //a:hover ------*/


.franchise ul li a img {
    display: inline-block;
    margin-right: 16px;
    vertical-align: text-bottom;
    width: 64px;

    /*outline: 1px solid #fff;*/
}

.franchise ul li a h3 {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    transform: translateY(-8px);
}

.franchise ul li a h3 span {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 100;
    letter-spacing: -0.4px;
}

/*-------------------------------------------- .notice -----*/

footer .notice {
    background-color: #ebe3e0;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

.notice h2 {
    float: left;
    padding: 0 16px;
    margin-right: 16px;

    position: relative;
    z-index: 1;
}


.notice h2:before {
    content: "";
    display: block;
    width: 0;
    height: 14px;
    border-radius: 12px 0 12px 0;
    background-color: #fff;

    position: absolute;
    bottom: 16px;
    left: 0;
    transition: all 0.5s;
    z-index: -1;
}

.notice h2:hover:before {
    width: 100%;
}

.notice h2 a {
    color: #333;
}

.notice .list-wrap {
    float: left;
    height: 100%;
    overflow: hidden;
}

.notice .list-wrap ul {
    height: 180px;
}

.notice .list-wrap ul li {
    float: none;
    height: 60px;
}

.notice .list-wrap ul li a {
    display: inline-block;
    color: #333;
}

.notice .list-wrap ul li:hover a {
    text-decoration: underline;
}

.notice ul li .date {
    display: inline-block;
    color: #666;
    margin-left: 40px;
}

.notice .more {
    float: left;
    margin-left: 40px;
    color: #333;
    /*outline: 1px solid red;*/
}

.notice .more:hover {
    text-decoration: underline;
}




body.scroll-down {
    background-color: #f0f0f0;
    /* 스크롤 다운 시 배경색 */
}

body.scroll-up {
    background-color: #fff;
    /* 스크롤 업 시 배경색 */
}



.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    width: 320px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    /* 모달 최대 너비 지정 */
    background-color: #fff;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.slider {
    max-width: 100%;
    overflow: hidden;
}

.slider img {
    width: 100%;
    display: none;
}

.details {
    margin-top: 20px;
}


/* ---------- content-section -------- */
.content-section {
    display: flex;
    padding: 40px;
    text-align: center;
    color: #333;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
}


.content-inner {
    flex: 1;
}

.content-section:nth-child(even) {
    
}

.content-section img {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
}

.content-section:hover img {
    transform: scale(1.1);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


.content-section h2, p{
    color: #fff;
    text-align: center;
}
.content-section h2 {
    margin-top: 100px
}
.content-section p{
margin-top: auto;
}


.content-section {
    padding: 40px;
    text-align: center;
    color: #333;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
}

.content-section.active {
    opacity: 1;
    transform: translateY(0);
    background-image: 
        radial-gradient(circle at 20% 50%, #442b1a 0px, transparent 50%),
        radial-gradient(circle at 80% 50%, #7b5e4b 0px, transparent 50%),
        radial-gradient(circle at 50% 20%, #442b1a 0px, transparent 50%),
        radial-gradient(circle at 50% 80%, #7b5e4b 0px, transparent 50%);
    background-repeat: no-repeat;
}

.content-section img {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.content-section:hover img {
    transform: scale(1.1);
}




