@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}


body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3e2723; /* 짙은 초콜릿 색상 */
    color: #fff; /* 흰색 텍스트 색상으로 대비 향상 */
    margin: 0; /* 기본 마진 제거하여 전체 폭 표시 보장 */
    font-family: "Nunito", sans-serif; /* 가독성 향상을 위한 폰트 패밀리 추가 */
    line-height: 1.6; /* 가독성 향상을 위한 행 높이 조절 */
    cursor: default;
  }


ul,ol,li {
    list-style: none;
}

li {
    float: left;
}

ul:after, ol:after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    display: block;
}

img {
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}