@charset "utf-8";
header {
    background-color: #222222;
}
.inner {
    width: 1200px;
    margin: 0 auto;
}



.title {
    font-family: 'Noto Serif KR', serif;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: normal;
}

.title span {
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    font-size: 18px;
    line-height: 1.2;
    color: #666;
}



[class$=btn] {
    border: 2px solid #d2c6c6;
    background-color: orange;
    border-radius: 100px;
    color: #312727;
    font-weight: bold;
    text-align: center;
    /*transition: all 0.6s;*/
}

ul,ol,li {
    list-style: none;
}

li {
    float: left;
}

ul:after, ol:after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    display: block;
}

img {
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}

/*[class$=btn]:hover {
    background-color: #312727;
    color: #fff;
    border: 2px solid #312727;
}*/


